<div id=form-newcontact>
    <label>New Contact</label>

    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Enter name">

    <br>

    <label for="email">Email</label>
    <input id="email" type="text" placeholder="Enter email">

    <br>

    <label for="phone">Phone Number</label>
    <input id="phone" type="text" placeholder="Enter phone number">

    <br>

    <label for="postalCode">Postal Code</label>
    <input id="postalCode" type="text" placeholder="Enter postal code">

    <br>


    <button id="create">Create Contact</button>
</div>